<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <div>
      <h1>n3wbl0g</h1>
    </div>
  </head>
  <body>
    <h2>this is my blog, and here is me blogging.</h2>
    <div id="screenshot"><a href="/media/blog.png"><img src="${url('/media/blog.png')}" /></a>
    </div>
    <p>No frills, no gui, nothing except the simple and elegant command line. I like it this way, there is less to mess up. and when you mess up you know it's all your fault. There are no sloppy programs in-between you and the hard data. It's not for everyone, but I wouldn't have it any other way. 
    </p>
    </p>
  </body>
</html>
