<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <div>
      <h1>n3wbl0g</h1>
    </div>
  </head>
  <body>
    <h2>this is my blog, and here is me blogging.</h2>
    <div id="screenshot"><a href="/media/blog.png"><img src="${url('/media/blog.png')}" /></a>
    </div>
    <p>No frills, no gui, nothing except the simple and elegant command line. I like it this way, there is less to mess up. and when you mess up you know it's all your fault. There are no sloppy programs in-between you and the hard data. It's not for everyone, but I wouldn't have it any other way. 
    </p>
    <p>
I started getting really into computers around June of 2011. Before that I had only used them for games and movies like a normal kid. One day though I saw an article about the Sony hack. I read about it and became very intrigued by what these "hackers" were able to do. I have always loved finding out how things worked, and had always had a large blank spot when it came to computers. It was then that I began taking my first steps toward the strange and curious world of computer science. I installed ubuntu on my little netbook and took it to work with me (I used to do a lot of traveling) and played around with it whenever I found the time. I basically just googled linux and read everything I could about it. I then switched to puppylinux (it ran very well on the little netbook) and settled there for a little while. 
    </p>
    <p>
I became addicted to data. I read everything I possibly could and installed and reinstalled distro after distro, breaking everything and then fixing it. This is the easy way to learn I think. Most of the time people are afraid to "break" things. Don't be. It can always be fixed and you learn a lot during the process. In this process I learned that the less complex things are, the easier they are to understand (duh) and the easier they are to understand, the faster you can fix them when they break. All those fancy compsitors and DE's can be a real headache. With them out of the way you have a crystal clear view of what is going on inside the machine. So take my advice: dump the GUI and learn some shit.
    </p>
  </body>
</html>
