<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <div>
      <h1>n3wbl0g</h1>	
    </div>	
  </head>
  <body>
    <h2>int3r3sting</h2>
    <p>This is some very interesting and enlightening stuff.. I can't wait to get one.</p>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/D8Im0_KUEf8" frameborder="0">
    </iframe> 
    <hr></hr>
  </body>
</html>
