<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <div>
      <h1>n3wbl0g</h1>
    </div>
  </head>
  <body>
    <h2>tut0rials</h2>
    <li>
      <div>
        <a href="https://www.linuxdistrocommunity.com/videos/?id=3DAyziGbwIs"><img src="http://i.ytimg.com/vi/3DAyziGbwIs/default.jpg" alt="" width="120" height="90" /></a>
      </div>
      <div>
        <h2><a href="https://www.linuxdistrocommunity.com/videos/?id=3DAyziGbwIs">Updating the Linux Kernel in Gentoo !</a>
        </h2>
        <p>Have you ever had problems updating kernels in Gentoo ? Now, I did not use as much noise reduction as the previous video because some of the...
        </p>
        <p>February 22, 2013</p>
      </div>
     </li> 
     <li>
                                <div >
                                        <a href="https://www.linuxdistrocommunity.com/videos/?id=o47cDqyAWT4"><img src="http://i.ytimg.com/vi/o47cDqyAWT4/default.jpg" alt="" width="120" height="90" /></a>
                                </div>
                                <div >
                                        <h2><a href="https://www.linuxdistrocommunity.com/videos/?id=o47cDqyAWT4">USB Tethering on Linux ? You out of your mind !</a></h2>
                                        <p>USB Tethering is a way for you to share your phone's data plan to your computer. You might think it's hard on Linux... But watch and see ! F...</p>                                  <p class="published">February 18, 2013</p>
                                </div>
                        </li>

                        <li>
                                <div >
                                        <a href="https://www.linuxdistrocommunity.com/videos/?id=w5p8ORezpvs"><img src="http://i.ytimg.com/vi/w5p8ORezpvs/default.jpg" alt="" width="120" height="90" /></a>
                                </div>
                                <div >
                                        <h2><a href="https://www.linuxdistrocommunity.com/videos/?id=w5p8ORezpvs">Linux Lite 1.0.4</a></h2>
                                        <p>int main(){ Nice ubuntu 12.04 distribution, recomented for intermediet users. Their pages: sourceforge.net distrowatch.com www.linuxdistroco...</p>                                  <p class="published">February 3, 2013</p>
                                </div>
                        </li>

                        <li>
                                <div >
                                        <a href="https://www.linuxdistrocommunity.com/videos/?id=aucXuSZoAaw"><img src="http://i.ytimg.com/vi/aucXuSZoAaw/default.jpg" alt="" width="120" height="90" /></a>
                                </div>
                                <div >
                                        <h2><a href="https://www.linuxdistrocommunity.com/videos/?id=aucXuSZoAaw">Linux Lite 1 0 4 Final Full Review</a></h2>
                                        <p>Website: www.linuxdistrocommunity.com Changelog: All system software updated. Firefox 18.0 Kernel 3.2.0.36 pae Added new default theme and i...</p>                                  <p class="published">February 2, 2013</p>
                                </div>
                        </li>

                        <li>
                                <div >
                                        <a href="https://www.linuxdistrocommunity.com/videos/?id=fbivzT-kFow"><img src="http://i.ytimg.com/vi/fbivzT-kFow/default.jpg" alt="" width="120" height="90" /></a>
                                </div>
                                <div >
                                        <h2><a href="https://www.linuxdistrocommunity.com/videos/?id=fbivzT-kFow">Live Podcast Saturday 8 PM</a></h2>
                                        <p>You will need Mumble www.mumble.com and instructions at www.linuxdistrocommunity.com</p>                                     <p class="published">January 24, 2013</p>
                                </div>
                        </li>

                        <li>
                                <div >
                                        <a href="https://www.linuxdistrocommunity.com/videos/?id=3ymWiLfjYu8"><img src="http://i.ytimg.com/vi/3ymWiLfjYu8/default.jpg" alt="" width="120" height="90" /></a>
                                </div>
                                <div >
                                        <h2><a href="https://www.linuxdistrocommunity.com/videos/?id=3ymWiLfjYu8">Linux Lite 1.0.4 Review</a></h2>
                                        <p>Linux Lite: www.linuxdistrocommunity.com My Blog: theswitchtolinux.blogspot.ca</p>                                   <p class="published">January 18, 2013</p>
                                </div>
                        </li>
  </body>
</html>
